<section>
    <div class="container slider">
        <img ng-repeat="photo in photos" class="slide" ng-show="isActive($index)" ng-src="{{photo.src}}" />
        <a class="arrow prev" ng-click="showPrev()"></a>
        <a class="arrow next" ng-click="showNext()"></a>
        <ul class="nav">
            <li ng-repeat="photo in photos" ng-class="{'active':isActive($index)}">
                <img src="{{photo.src}}" alt="{{photo.desc}}" title="{{photo.desc}}" ng-click="showPhoto($index)" />
            </li>
        </ul>
    </div>
    <p>Réf. 12345_1 - </p>
    <h4>PRIX : 5.23€</h4>
    <button>Ajouter au panier</button>
</section>
