<section >
  <div class="container slider" >
      <img ng-repeat="photo in photos" class="slide" ng-show="isActive($index)" ng-src="img/photos/{{photo.source}}" />
      <a class="arrow prev"  ng-click="showPrev()"></a>
      <a class="arrow next"  ng-click="showNext()"></a>
      <ul class="nav">
          <li ng-repeat="photo in photos[5]" ng-class="{'active':isActive($index)}">
              <img src="img/photos/{{photo.source}}" alt="{{photo.ref}}" title="{{photo.ref}}" ng-click="showPhoto($index)" />
          </li>
      </ul>
  </div>
  <div ng-repeat="photo in photos" ng-show="isActive($index)" >
    <p>{{photo.ref}}</p>
    <h4>PRIX : {{photo.price}}</h4>
    <button ng-click='addPanier($index)'>Ajouter au panier</button>
  </div>
</section>
