<section>
    <h3>(Admin) Liste des commandes</h3>
    <table ng-repeat="commande in commandes">
        <tr>
            <th>Numero de commande</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Ville</th>
        </tr>
        <tr>
            <td>{{commande.ref}}</td>
            <td>bou</td>
            <td>aligator</td>
            <td>Nice</td>
        </tr>
        <tr>
            <th colspan="4">
                Contenu de la commande
            </th>
        </tr>
        <tr>
            <td colspan="4">
                <ul>
                    <li ng-repeat="product in commande.products">
                        Ref :{{getRef(product.id)}} - {{getPrice(product.id)}}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <th colspan="4">
                Total
            </th>
        </tr>
        <tr>
            <td colspan="4">
                {{commande.total}}
            </td>
        </tr>
    </table>
</section>
